div{
background-color: rgb(6, 141, 245);
width: 250px;
height: 250px;
}

.verde{
    background-color: rgb(8, 246, 107);
}
.vermelho{
    background-color: rgb(241, 4, 51);
}
.amarelo{
    background-color: rgb(250, 214, 12);
}
.preto{
    background-color: black;
}